<!doctype html>
<html ng-app="plunker">
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>  
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.6.0.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.min.js"></script> 
    <script src="https://rawgithub.com/angular-ui/ui-calendar/master/src/calendar.js"></script>
    <script src="example.js"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.css" rel="stylesheet" />
  </head>
  <body>

<div ng-controller="ModalDemoCtrl">

    <!-- Calendar modal -->
    <script type="text/ng-template" id="calModalContent.html">
        <div class="modal-header">
            <h3>Calendar</h3>
            <p>Click day to add event</p>
        </div>
        <div class="modal-body">
            <div>
              <div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <!-- Other modal -->
    <script type="text/ng-template" id="newModalContent.html">
        <div class="modal-header">
            <h3>I'm a modal too!</h3>
        </div>
        <div class="modal-body">
            <p>Click OK to add event</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    
    <button class="btn" ng-click="open()">Open calendar</button>

</div>
  </body>
</html>
